*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  background-color: hsl(200, 100%, 85%);
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
}

.blur {
  filter: blur(3px);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 3px solid hsl(200, 100%, 10%);
}

.day-section > .day-card > .weather-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.weather-icon.large {
  width: 60%;
  height: 60%;
}

@media (max-width: 670px) {
  .header-left {
    border-right: none;
    border-bottom: 3px solid hsl(200, 100%, 10%);
    margin-bottom: 10px;
  }

  .header {
    flex-direction: column;
  }

  .header-right {
    margin-top: 10px;
    font-size: 100%;
  }
}

.header-current-temp {
  font-size: 8vw;
  margin-left: 1.5rem;
}

.header-right {
  display: grid;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

@media (min-width: 760px) {
  td .info-group > div:not([class="label"]),
  td .info-group > div:not([class="label"]) > span {
    font-size: 5rem;
  }
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td .info-group > div:not([class="label"]),
td .info-group > div:not([class="label"]) > span {
  font-size: 2rem;
}

:is(.header-right .info-group div span) {
  font-size: 4vw;
}

@media (min-width: 670px) {
  :is(.header-right .info-group div span) {
    font-size: 3vw;
  }

  :is(.header-right .label) {
    font-size: 3vw;
  }
}

@media (max-width: 471px) {
  tr {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
  }

  td .weather-icon {
    width: 18vw;
    height: 18vw;
  }
}

:is(.weather-icon) {
  width: 5vw;
  height: 5vw;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: hsl(200, 100%, 20%);
}

@media (max-width: 670px) {
  .header-right .label {
    font-size: 5vw;
  }
}

.value-sub-info {
  font-weight: lighter;
  font-size: 100%;
}

.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1.25rem;
}

.info-group > div > span {
  font-size: 100%;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(200, 100%, 10%);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.day-card-day {
  font-size: 2rem;
  color: hsl(200, 100%, 20%);
  margin-top: 0.5rem;
}

.day-card-degree {
  font-size: 1.75rem;
}

.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour-row {
  background-color: hsl(200, 60%, 75%);
}

.hour-row:nth-child(2n) {
  background-color: hsl(200, 60%, 70%);
}

.hour-row > td {
  padding: 0.25rem 0.5rem;
}
